.root {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.greeting {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  line-height: 1;
  color: var(--mantine-color-dark-0);
}

.date {
  font-size: var(--mantine-font-size-xs);
  line-height: 1;
  color: var(--mantine-color-dark-2);
}
